@using Flippit.Common.Models.User
@inject UserState userState
@inject NavigationManager NavigationManager

<header class="flex w-full flex-row justify-between p-4">
    <div class="size-12 cursor-pointer">
        <NavLink href="/">
            <img draggable="false" class="h-full w-full object-contain" src="/icons/flippit-logo-small.svg" />
        </NavLink>
    </div>

    @if(ShowSearch)
    {
        <div class="flex w-2/5 flex-row items-center gap-6">

            <div class="relative z-[6] flex h-12 w-full min-w-10 flex-row items-center gap-2 rounded-full bg-white px-3 drop-shadow">
                <img src="/icons/search.svg" class="scale-90" />
                <input type="search"  @oninput="OnInputChanged" @bind="SearchText" @onblur="OnBlur" @onfocus="() => SearchListVisible = true"  class="h-full w-full focus:outline-0" />

                @if(SearchListVisible)
                {
                    <div class="absolute top-14 right-0 z-[5] h-max max-h-100 w-full overflow-scroll rounded-2xl bg-white">
                        <SearchList @ref="slist"></SearchList>
                    </div>
                }

            </div>

            @if(userState.User!= null)
            {
                 <NavLink href="/create">
                    <div class="primary-blue-bg flex size-10 min-w-10 cursor-pointer flex-col items-center justify-center rounded-md">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="11.6251" y1="1" x2="11.6251" y2="22.5206" stroke="white" stroke-width="2" stroke-linecap="round" />
                            <line x1="22.5206" y1="11.9957" x2="1" y2="11.9957" stroke="white" stroke-width="2" stroke-linecap="round" />
                        </svg>

                    </div>
                </NavLink>
            }


        </div>
    }
    else if(!string.IsNullOrEmpty(Name))
    {

        <div class="flex flex-row items-center gap-6">

            <h1 class="font-monserrat-b text-3xl">@Name</h1>
            @if (ChildContent != null)
            {
               @ChildContent

            }
            
        </div>
    }



    @if (userState.User != null)
    {
     
        <div class="relative size-12">
            <div @onclick="() => {showUserMenu = !showUserMenu;}" class="size-12 cursor-pointer overflow-hidden rounded-full">
                <img draggable="false" class="h-full w-full" src="@(userState.User.PhotoUrl == null ? "icons/user.svg" : userState.User.PhotoUrl)" />

            </div>

            <div hidden="@(!showUserMenu)" class="font-ubuntu-sans-l absolute top-14 right-0 z-10 h-max w-50 rounded-lg bg-white p-2 drop-shadow">
                <div class="flex h-max w-full flex-col items-center gap-2">
                    <div class="flex w-full flex-col items-end">
                        <button @onclick="() => {showUserMenu = false;}" class="cursor-pointer">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.00366 1L12.2711 12.2674" stroke="black" stroke-width="2" stroke-linecap="round" />
                                <path d="M1 12.2676L12.2674 1.00014" stroke="black" stroke-width="2" stroke-linecap="round" />
                            </svg>

                        </button>
                    </div>
                    <div class="size-30 overflow-hidden rounded-full">
                        <img draggable="false" class="h-full w-full" src="@(userState.User.PhotoUrl == null ? "icons/user.svg" : userState.User.PhotoUrl)" />
                    </div>
                    <p>@userState.User.Name</p>
                    <div class="flex flex-row gap-2">
                        <button class="cursor-pointer rounded-md bg-gray-100 p-1 px-2 transition-colors hover:bg-gray-200">
                            Edit
                        </button>
                        <button @onclick="Logout" class="cursor-pointer rounded-md bg-gray-100 p-1 px-2 transition-colors hover:bg-gray-200">
                            Log out
                        </button>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <button @onclick="() => {showAuthMenu = true;}" class="primary-blue-bg font-ubuntu-sans-l cursor-pointer rounded-xl p-3 text-white">
            Log in
        </button>

        @if(showAuthMenu)
        {
            <UserComponent IsLogin="true" CloseDialog="@CloseDialog"></UserComponent>
        }

    }


</header>


@code {
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool ShowSearch { get; set; } = true;

    private bool SearchListVisible = false;

    private SearchList slist;
    private string SearchText;

    private bool showUserMenu = false;

    private bool showAuthMenu = false;

    private void CloseDialog()
    {
        showAuthMenu = false;
    }

    private async Task TriggerSearch()
    {
        if (slist != null)
        {
            await slist.Search(SearchText);
        }
    }

    private async Task OnBlur()
    {
        await Task.Delay(100);
        SearchListVisible = false;
    }

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        SearchListVisible = true;
        SearchText = e.Value?.ToString() ?? "";
        await TriggerSearch();
    }

    private void Logout()
    {
        userState.SetUser(null); 
        NavigationManager.NavigateTo("/"); 
        showUserMenu = false;
    }
}
