@page "/collections/{id:int}"
@inject HttpClient Http

@{
    if(collection!=null)
    {
        <NameHeader Name="@collection.Name"></NameHeader>

    }


    if(!Loading)
    {
        if (visible != null)
        {
            <NavLink href="@($"/collections/{id}/play")">
                 <div class="primary-blue-bg fixed right-20 bottom-20 size-14 cursor-pointer rounded-full">
                    <div class="flex size-14 flex-row items-center justify-center">
                        <svg  width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.5482 8.23899L1.55822 0.172003C0.893959 -0.274922 0 0.201075 0 1.00169V17.1357C0 17.9363 0.89396 18.4123 1.55822 17.9654L13.5482 9.89837C14.1373 9.50206 14.1373 8.6353 13.5482 8.23899Z" fill="#F0F2F6" />
                        </svg>
                    </div>
                </div>
            </NavLink>


            <div class="mt-10 flex flex-col items-center gap-20">
                <div class="w-mac flex flex-col gap-3">
                    <h4 class="font-monserrat-b m-0 ml-2 text-2xl">Flashcards (@(cards!.Count()))</h4>
                    <div class="grid w-max grid-cols-5 gap-2">
                        @{
                            foreach(var card in visible)
                            {
                                <CardListCard QuestionType="@card.QuestionType" Question="@card.Question"></CardListCard>
                            }
                        }
                    </div>
                </div>
                <button disabled="@(LoadMoreDisabled())" @onclick="LoadMore" class="dark-blue-border mb-10 h-10 w-30 rounded-xl border-2 bg-transparent disabled:cursor-not-allowed">
                    <p class="font-ubuntu-sans-l dark-blue-text">Load more</p>
                </button>
            </div>
        }

    }
    else
    {
        <Loading></Loading>
    }
}


@code {

    //change to guid later
    [Parameter]
    public int id { get; set; }

    private Collection? collection;
    private Collection[]? collections;
    private List<Collection>? collectionsList;
    private List<Card>? cards;
    private List<Card>? visible;
    private int skip = 0;
    private int size = 10;


    private bool Loading = false;

    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        collections = await Http.GetFromJsonAsync<Collection[]>("sample-data/Collections.json");
        if (collections != null)
        {
            collectionsList = collections.ToList();
            collection = collectionsList.Where(c => c.Id == id).FirstOrDefault();
            Console.WriteLine(collection.Name);
            var cardsar = await Http.GetFromJsonAsync<Card[]>("sample-data/carddetail.json");
            if(cardsar != null)
            {
                cards = cardsar.ToList();
                visible = cards.Skip(0).Take(size).ToList();
            }

        }
        Loading = false;
    }

    private bool LoadMoreDisabled()
    {
        return cards.Count() <= (skip + 1) * size;
    }

    private void LoadMore()
    {
        if((skip+1)*size < cards.Count())
        {
            skip++;
            var newItems = cards.Skip(skip*8).Take(8).ToList();
            visible.AddRange(newItems);
        }
        
    }

    public class Card
    {
        public int Id { get; set; }
        public string? QuestionType { get; set; }
        public string? Question { get; set; }
        public string? AnswerType { get; set; }
        public string? Answer { get; set; }
        public string? Description { get; set; }
        public Guid CreatorId { get; set; }
        public Guid CollectionId { get; set; }

    }
    public class User
    {
        public string? Name { get; set; }
        public string? PhotoUrl { get; set; }
    }
    public class Collection
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public User? User { get; set; }
    }
}
